@media screen and (max-width:768px){
   
    .contact-us .con-text-area{
     width:100vh; 
     height: 100px;
}
.contact-us .con-text-area textarea{
    width:30%
}
.contact-info{
    overflow: hidden;
    font-size: 8px;
    height: 50px;
    padding: 10px;
    color: #487e95;
    font-weight: bold;
    
}
.contact-us-header{
    font-size: 20px;
    padding: 17px;
}
.contact-us form input{
    width: 100%;
}
.contact-us form button{
    width: 120px;
}
}
@media (min-width:880px) and (max-width:1024px){
    .contact-us .con-text-area textarea{
        width:35vh;
    }
}
@media (min-width:320px) and (max-width:425px){
    .contact-us .con-text-area textarea{
        width:17vh;
    }
}